.middle {
    height: 50vh;
    width: 100%;
}

.img_text_beams {
    float:left;
    padding-top: 180px;
    padding-left:15%;
    width:45%;
}

.img_text_beams p {
    color:white;
}

.img_text_beams h1 {
    color:white;
}

.img_div_beam {
    float:left;
    padding-top:120px;
    padding-left: 5%;
}

@media (max-width:1050px){
    .img_text_beams{
        margin-top: -100px;
        width:80%;
        padding-left: 10%;
    }
    .img_div_beam{
        padding-top: 80px;
        padding-left: 10%;
    }
}
