.move_img{
    float: left;
    padding-left: 15%;
    padding-top: 120px;
    padding-right: 5%;
}

.move_text{
    float:left;
    padding-top: 180px;
    width:30%;
}

.move_text h1 {
    color:white;
}

.move_text p {
    color:white;
}

@media (max-width:1050px){
    .move_text {
        margin-top: -600px;
        width:80%;
        padding-left:10%;
    }

    .move_img {
        padding-left: 10%;
        margin-top: 20px;

    }
}
